<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= user.username %>'s Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/scss/dist/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/dependencies/uikit/css/uikit.min.css">
    <script src="/dependencies/uikit/js/uikit.min.js"></script>
    <script src="/dependencies/uikit/js/uikit-icons.min.js"></script>

    <style>
        .banner {
            background-size: cover;
            background-position: center center;
            background: linear-gradient(135deg, #FA4821 5.42%, #AE0F56 90.28%);
            color: #ffffff;
            position: relative;
            height: 200px;
            border-radius: .5rem;
            margin-top: 5rem;
            width: 100%;
        }
        .banner div {
            position: relative;
            padding: 3.5rem 3rem;
            display: flex;
            height: 100%;
            box-sizing: border-box;
            justify-content: space-between;
            flex-direction: column;
        }
        .banner h1 {
            font-size: 48px;
        }
        .banner h1 .material-icons {
            position: relative;
            top: 7px;
            font-size: 48px;
        }
        .banner a {
            opacity: 0.8;
            font-size: 18px;
            color: #ffffff;
            text-decoration: none;
        }
        .banner a .material-icons {
            font-size: 18px;
            position: relative;
            top: 2px;
        }
        .keystats,
        .games {
            width: 100%;
            margin-left: -.5rem;
        }
    </style>
</head>
<body>
    <div id="app">
        <navbar 
            avatar="<%= user.avatar %>" 
            username="<%= user.username %>" 
            tag="<%= user.tag %>"
        ></navbar>

        <div class="uk-container uk-container-large" uk-grid>
            <div class="hero">
                <div class="banner">
                    <div>
                        <a href="#" @click="goToProfile()"><i class="material-icons">arrow_back</i> Back to <%= user.username %>'s profile</a>
                        <h1 class="c-white uk-text-bold"><i class="material-icons uk-margin-small-right">sports_esports</i>Games</h1>
                    </div>
                </div>
            </div>
            
            <divider icon="show_chart">Key stats</divider>
            <div class="keystats">
                <stat-card title="Games Owned"><b><%= games.length %></b></stat-card>
                <stat-card title="Highest Playtime (<%= games.sort((a, b) => b.time - a.time)[0].name %>)"><b>{{ parseTime(<%= games.sort((a, b) => b.time - a.time)[0].time %>)[0] }}h</b> {{ parseTime(<%=games.sort((a, b) => b.time - a.time)[0].time %>)[1] }}m</stat-card>
            </div>

            <divider icon="emoji_events">Games</divider>
            <div class="games">
                <game-card 
                    v-for="game in <%= JSON.stringify(games) %>"
                    :image="game.image"
                    :name="game.name"
                    :play-time="game.time"

                    @click.native="goToGame(game.uuid)"
                ></game-card>
            </div>
        </div>
    </div>

    <script type="module">
        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.esm.browser.js'
        import Navbar from '/components/navbar.js'
        import Badge from '/components/badge.js'
        import Divider from '/components/divider.js'
        import StatCard from '/components/stat-card.js'
        import GameCard from '/components/game-card.js'
        Vue.component('Navbar', Navbar);
        Vue.component('Badge', Badge);
        Vue.component('Divider', Divider);
        Vue.component('StatCard', StatCard);
        Vue.component('GameCard', GameCard);
        var app = new Vue({
            el: '#app',
            methods: {
                goToProfile() {
                    location.assign(`${location.origin}/profile/<%= user.username %>/<%= user.tag %>`);
                },
                goToGame(uuid) {
                    location.assign(`${location.origin}/profile/<%= user.username %>/<%= user.tag %>/game/${uuid}`);
                },
                parseTime(seconds) {
                    const hours = Math.floor(seconds / 3600);
                    const minutes = Math.floor(seconds / 60) - hours * 60;
                    return [hours, minutes];
                }
            }
        });
    </script>
</body>
</html>