<!DOCTYPE html>
<html lang="en">
    <head>
        <%- 
            include('templates/head', {
                title: `Search Profiles - Stadia+ DB`,
                description: `Find your friend's Stadia profiles using Stadia+ DB, the fastest way to share your Stadia profile.`
            }) 
        %>

        <style>
            .centered {
                margin-top: 20vh !important;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <navbar db></navbar>

            <div class="uk-container uk-container-large" style="min-height: calc(100vh - 200px);">
                <!-- This is a workaround, i don't know how to fix it ~for real~ -->
                <div
                    class="uk-container uk-container-small uk-margin-xlarge-top"
                    :class="{centered: <%= query === '' || query === 'undefined' %>}"
                >
                    <h1 class="c-dark-gray uk-heading-small uk-text-bold uk-margin-small-bottom">
                        Search for profiles
                    </h1>
                    <p class="c-gray uk-text-lead uk-margin-medium-bottom">Looking for someone? Search them up here.</p>

                    <search-bar icon="search" value="<%= query != 'undefined' ? query : '' %>" wide></search-bar>
                </div>
                <div v-if="<%= query != '' && query != 'undefined' %>">
                    <hr class="uk-margin-xlarge-top uk-margin-medium-bottom" />

                    <h3 class="c-dark-gray uk-text-bold uk-margin-small-bottom">Profiles matching "<%= query %>"</h3>
                    <p class="c-gray uk-margin-medium-bottom" style="font-size: 18px">
                        <%= resultCount > results.length ? `> ` : '' %><%= Math.min(resultCount, results.length) %>
                        result<%= resultCount != 1 ? 's' : '' %>
                    </p>

                    <div class="uk-grid-small" uikit>
                        <profile-card
                            v-for="result in <%= JSON.stringify(results) %>"
                            :user="result"
                            @click="goToProfile(result)"
                        ></profile-card>
                    </div>
                </div>
            </div>
            <page-footer></page-footer>
        </div>

        <script type="module">
            import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.esm.browser.js';
            import Navbar from '/components/navbar.js';
            import Footer from '/components/footer.js';
            import SearchBar from '/components/search-bar.js';
            import ProfileCard from '/components/profile-card.js';

            Vue.component('PageFooter', Footer);
            Vue.component('Navbar', Navbar);
            Vue.component('SearchBar', SearchBar);
            Vue.component('ProfileCard', ProfileCard);
            var app = new Vue({
                el: '#app',

                methods: {
                    goToProfile(user) {
                        location.href = `${location.origin}/profile/${user.username}/${user.tag}`;
                    },
                },
            });
        </script>
    </body>
</html>
